.card {
  width: 90%;
}

.img {
  aspect-ratio: 3 / 2;
  object-fit: cover;
}

.body {
  text-align: center;
}

.footer {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 0.5rem;
  justify-content: right;
  align-items: center;
}